<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   
    {% if busqueda_formulario %}

        <p>Articulos encontrados: {{busqueda_formulario|length}} articulos </p>

        <ul>

            {% for articulo in busqueda_formulario %}

                <li>
                    {{articulo.codigo}}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> No se encuentra articulo</p>

    {% endif %}

</body>
</html>